<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Star Wars API</title>
	
	<!-- reference CSS file -->
	<link rel="stylesheet"
		  th:href="@{/css/demo.css}" />
		  
</head>

<body>

	<h2>Star Wars API</h2>
	<hr>
	
	<p>
	Welcome to the Star Wars API, feel free to explore the Star Wars Universe. May the Force be with You!
	</p>
	
	<hr>
	
	<p>
		<a th:href="@{/starwars/menu}">Main Menu</a>
	</p>
	
	<img th:src="@{/images/Star_Wars_Logo.svg}"/>

	<p th:text="'Time on server is ' + ${theDate}" class="funny" />

</body>

</html>