<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Star Wars API</title>
	
	<!-- reference CSS file -->
	<link rel="stylesheet"
		  th:href="@{/css/demo.css}" />
		  
</head>

<body>

	<h2>Star Wars API Menu</h2>
	<hr>
	
	<p>
		<a th:href="@{/starwars/characters/menu}">Characters</a>
	</p>
	
	<p>
		<a th:href="@{/starwars/planets/menu}">Planets</a>
	</p>
	
	<p>
		<a th:href="@{/starwars/films/menu}">Films</a>
	</p>
	
	<p>
		<a th:href="@{/starwars/species/menu}">Species</a>
	</p>
	
	<p>
		<a th:href="@{/starwars/vehicles/menu}">Vehicles</a>
	</p>
	
	<p>
		<a th:href="@{/starwars/starships/menu}">Starships</a>
	</p>
	
	<hr>
	
	<p>
		<a th:href="@{/starwars}">Back to the Home Page</a>
	</p>
	
	<img th:src="@{/images/Star_Wars_Logo.svg}"/>

	<p th:text="'Time on server is ' + ${theDate}" class="funny" />

</body>

</html>