<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Star Wars API</title>
</head>

<body>

	<div class="container">
	
		<h3>Star Wars Films List</h3>
		<hr>
		
		<p class="h4 mb-4">Save Film</p>
	
		<form th:action="@{/starwars/swfilms/save}"
			  th:object="${film}" method="POST">
		
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{title}"
					class="form-control mb-4 col-4" placeholder="Title">

			<input type="text" th:field="*{episode_id}"
					class="form-control mb-4 col-4" placeholder="Episode Id">

			<input type="text" th:field="*{opening_crawl}"
					class="form-control mb-4 col-4" placeholder="Opening Crawl">
					
			<input type="text" th:field="*{director}"
					class="form-control mb-4 col-4" placeholder="Director">

			<input type="text" th:field="*{producer}"
					class="form-control mb-4 col-4" placeholder="Producer">

			<input type="text" th:field="*{release_date}"
					class="form-control mb-4 col-4" placeholder="Release Date">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/starwars/swfilms/list}">Back to the Films List</a>
		
	</div>
</body>

</html>










