<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Star Wars API</title>
	
	<!-- reference CSS file -->
	<link rel="stylesheet"
		  th:href="@{/css/demo.css}" />
		  
</head>

<body>

	<h2>Star Wars Films Menu</h2>
	<hr>
	
	<p>
		<a th:href="@{/starwars/films}">All Films</a>
	</p>
	
	<form th:action="@{/starwars/films/id/}">
	<p>
		<a>Search for Films by Id (1-6):</a>
		<input type="search" name="id" />
		<input type="submit" value="Search" />
	</p>
	</form>
	
	<form th:action="@{/starwars/films/search/}">
	<p>
		<a>Search for Films by Name:</a>
		<input type="search" name="name" />
		<input type="submit" value="Search" />
	</p>
	</form>
	
	<p>
		<a th:href="@{/starwars/swfilms/list}">Films Interactive List</a>
	</p>
	
	<hr>
	
	<p>
		<a th:href="@{/starwars/menu}">Back to the Main Menu</a>
	</p>
	
	<img th:src="@{/images/s-l400.jpg}"/>

	<p th:text="'Time on server is ' + ${theDate}" class="funny" />

</body>

</html>