<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Star Wars API</title>
</head>

<body>

<div class="container">

	<h3>Star Wars Starships List</h3>
	<hr>
	
	<form th:action="@{/starwars/swstarships/search}" class="form-inline">
		<a th:href="@{/starwars/swstarships/add}"
			class="btn btn-primary btn-sm mr-5 mb-3">
			Add Star Wars Starship
		</a>

		<input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="starshipName" placeholder="Search by starship name"/>

		<button class="btn btn-success mb-3" type="submit">Search</button>
		
    </form>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Model</th>
				<th>Manufacturer</th>
				<th>Cost In Credits</th>
				<th>Length</th>
				<th>Max Atmosphering Speed</th>
				<th>Crew</th>
				<th>Passengers</th>
				<th>Cargo Capacity</th>
				<th>Consumables</th>
				<th>Hyperdrive Rating</th>
				<th>Starship Class</th>
				<th>Action</th>			
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempStarship : ${starships}">
			
				<td th:text="${tempStarship.id}" />
				<td th:text="${tempStarship.name}" />	
				<td th:text="${tempStarship.model}" />	
				<td th:text="${tempStarship.manufacturer}" />
				<td th:text="${tempStarship.cost_in_credits}" />	
				<td th:text="${tempStarship.length}" />	
				<td th:text="${tempStarship.max_atmosphering_speed}" />
				<td th:text="${tempStarship.crew}" />
				<td th:text="${tempStarship.passengers}" />	
				<td th:text="${tempStarship.cargo_capacity}" />	
				<td th:text="${tempStarship.consumables}" />
				<td th:text="${tempStarship.hyperdrive_rating}" />
				<td th:text="${tempStarship.starship_class}" />		
				
				<td>
					<a th:href="@{/starwars/swstarships/update(starshipId=${tempStarship.id})}"
					   class="btn btn-info btn-sm">
					   Update
					</a>
				
					<a th:href="@{/starwars/swstarships/delete(starshipId=${tempStarship.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this Star Wars Starship?'))) return false">
					   Delete
					</a>		
				</td>			
			</tr>
		</tbody>		
	</table>
	
	<p>
		<a th:href="@{/starwars/starships/menu}">Back to the Starships Menu</a>
	</p>
	
</div>
	
</body>
</html>



