<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet">
	<style>
		body {
			font-family: 'Star Wars', sans-serif;
			font-size: 15px;
		}
	</style>

	<title>Star Wars API</title>
</head>

<body>
<div>

	<div class="mt-3 ml-5">
		<h2>Star Wars species List</h2>
	</div>

	<hr>
	
	<form th:action="@{/starwars/swspecies/search}" class="form-inline ml-5">
		<a th:href="@{/starwars/swspecies/add}"
			class="btn btn-primary mr-5 mb-3">
			Add star Wars species
		</a>

		<input class="form-control mr-sm-2 mb-3 col-3" type="search" name="speciesName" placeholder="Search by species name"/>

		<button class="btn btn-success mb-3" type="submit">Search</button>

		<a th:href="@{/starwars/swspecies/list}"
		   class="btn btn-secondary ml-2 mb-3">
			Reset filter
		</a>

		<a th:href="@{/starwars/species/menu}" class="btn btn-info ml-5 mb-3">Back to the species Menu</a>
    </form>

	<div class="table-responsive">
		<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>id</th>
				<th>Name</th>
				<th>Classification</th>
				<th>Designation</th>
				<th>Average Height</th>
				<th>Skin Colors</th>
				<th>Hair Colors</th>
				<th>Eye Colors</th>
				<th>Average Lifespan</th>
				<th>Homeworld</th>
				<th>Language</th>
				<th>Action</th>			
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempSpecies : ${species}">
			
				<td th:text="${tempSpecies.id}" />
				<td th:text="${tempSpecies.name}" />	
				<td th:text="${tempSpecies.classification}" />	
				<td th:text="${tempSpecies.designation}" />
				<td th:text="${tempSpecies.average_height}" />	
				<td th:text="${tempSpecies.skin_colors}" />	
				<td th:text="${tempSpecies.hair_colors}" />
				<td th:text="${tempSpecies.eye_colors}" />	
				<td th:text="${tempSpecies.average_lifespan}" />	
				<td th:text="${tempSpecies.homeworld}" />
				<td th:text="${tempSpecies.language}" />		
				
				<td>
					<a th:href="@{/starwars/swspecies/update(speciesId=${tempSpecies.id})}"
					   class="btn btn-info btn-sm">
					   update
					</a>
				
					<a th:href="@{/starwars/swspecies/delete(speciesId=${tempSpecies.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this Star Wars Species?'))) return false">
					   Delete
					</a>		
				</td>			
			</tr>
		</tbody>		
	</table>
	</div>
</div>
</body>
</html>



