<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- reference CSS file -->
	<link rel="stylesheet" th:href="@{/css/demo.css}" />

	<link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet">
	<style>
		body {
			font-family: 'Star Wars', sans-serif;
		}
	</style>

	<title>Star Wars API</title>
</head>

<body>

	<div>
		<div class="mt-3 ml-5">
			<h2>Star Wars Planets List</h2>
		</div>

		<hr>

		<p class="h4 mb-4 ml-5">Add star Wars Planet</p>
	
		<form class="ml-5" th:action="@{/starwars/swplanets/save}"
			  th:object="${planet}" method="POST">
		
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Name">

			<input type="text" th:field="*{rotation_period}"
					class="form-control mb-4 col-4" placeholder="Rotation Period">

			<input type="text" th:field="*{orbital_period}"
					class="form-control mb-4 col-4" placeholder="orbital Period">
					
			<input type="text" th:field="*{diameter}"
					class="form-control mb-4 col-4" placeholder="Diameter">

			<input type="text" th:field="*{climate}"
					class="form-control mb-4 col-4" placeholder="Climate">

			<input type="text" th:field="*{gravity}"
					class="form-control mb-4 col-4" placeholder="Gravity">
					
			<input type="text" th:field="*{terrain}"
					class="form-control mb-4 col-4" placeholder="Terrain">

			<input type="text" th:field="*{surface_water}"
					class="form-control mb-4 col-4" placeholder="Surface Water">
					
			<input type="text" th:field="*{population}"
					class="form-control mb-4 col-4" placeholder="Population">
				
			<button type="submit" class="btn btn-primary col-2">Save Planet</button>
		</form>
	
		<hr>

		<div class="mt-3 mb-3 ml-5">
			<a th:href="@{/starwars/swplanets/list}" class="btn btn-info">Back to the Planets List</a>
		</div>
		
	</div>
</body>
</html>










