<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- reference CSS file -->
	<link rel="stylesheet" th:href="@{/css/demo.css}" />

	<link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet">
	<style>
		body {
			font-family: 'Star Wars', sans-serif;
		}
	</style>

	<title>Star Wars API</title>
</head>

<body>

	<div>
		<div class="mt-3 ml-5">
			<h2>Star Wars species List</h2>
		</div>

		<hr>

		<p class="h4 mb-4 ml-5">Add star Wars species</p>
	
		<form class="ml-5" th:action="@{/starwars/swspecies/save}"
			  th:object="${species}" method="POST">
		
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Name">

			<input type="text" th:field="*{classification}"
					class="form-control mb-4 col-4" placeholder="Classification">

			<input type="text" th:field="*{designation}"
					class="form-control mb-4 col-4" placeholder="Designation">
					
			<input type="text" th:field="*{average_height}"
					class="form-control mb-4 col-4" placeholder="Average Height">

			<input type="text" th:field="*{skin_colors}"
					class="form-control mb-4 col-4" placeholder="Skin Colors">
					
			<input type="text" th:field="*{hair_colors}"
					class="form-control mb-4 col-4" placeholder="Hair Colors">
					
			<input type="text" th:field="*{eye_colors}"
					class="form-control mb-4 col-4" placeholder="Eye Colors">

			<input type="text" th:field="*{average_lifespan}"
					class="form-control mb-4 col-4" placeholder="Average Lifespan">
					
			<input type="text" th:field="*{homeworld}"
					class="form-control mb-4 col-4" placeholder="Homeworld">
					
			<input type="text" th:field="*{language}"
					class="form-control mb-4 col-4" placeholder="Language">
				
			<button type="submit" class="btn btn-primary col-2">Save species</button>
		</form>
	
		<hr>

		<div class="mt-3 mb-3 ml-5">
			<a th:href="@{/starwars/swspecies/list}" class="btn btn-info">Back to the species List</a>
		</div>
		
	</div>
</body>
</html>










