<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Star Wars API</title>
	
	<!-- reference CSS file -->
	<link rel="stylesheet"
		  th:href="@{/css/demo.css}" />
		  
</head>

<body>

	<h2>Star Wars Species Menu</h2>
	<hr>
	
	<p>
		<a th:href="@{/starwars/species}">All Species</a>
	</p>
	
	<form th:action="@{/starwars/species/page/}">
	<p>
		<a>Search for Species by Page (1-4):</a>
		<input type="search" name="page" />
		<input type="submit" value="Search" />
	</p>
	</form>
	
	<form th:action="@{/starwars/species/id/}">
	<p>
		<a>Search for Species by Id (1-37):</a>
		<input type="search" name="id" />
		<input type="submit" value="Search" />
	</p>
	</form>
	
	<form th:action="@{/starwars/species/search/}">
	<p>
		<a>Search for Species by Name:</a>
		<input type="search" name="name" />
		<input type="submit" value="Search" />
	</p>
	</form>
	
	<p>
		<a th:href="@{/starwars/swspecies/list}">Species Interactive List</a>
	</p>
	
	<hr>
	
	<p>
		<a th:href="@{/starwars/menu}">Back to the Main Menu</a>
	</p>
	
	<img th:src="@{/images/vd81xgevgr741.png.webp}"/>

	<p th:text="'Time on server is ' + ${theDate}" class="funny" />

</body>

</html>