<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- reference CSS file -->
	<link rel="stylesheet" th:href="@{/css/demo.css}" />

	<link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet">
	<style>
		body {
			font-family: 'Star Wars', sans-serif;
		}
	</style>

	<title>Star Wars API</title>
</head>

<body>

	<div>
		<div class="mt-3 ml-5">
			<h2>Star Wars starships List</h2>
		</div>

		<hr>
		
		<p class="h4 mb-4 ml-5">Add star Wars starship</p>
	
		<form class="ml-5" th:action="@{/starwars/swstarships/save}"
			  th:object="${starship}" method="POST">
		
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Name">

			<input type="text" th:field="*{model}"
					class="form-control mb-4 col-4" placeholder="Model">

			<input type="text" th:field="*{manufacturer}"
					class="form-control mb-4 col-4" placeholder="Manufacturer">
					
			<input type="text" th:field="*{cost_in_credits}"
					class="form-control mb-4 col-4" placeholder="Cost in Credits">

			<input type="text" th:field="*{length}"
					class="form-control mb-4 col-4" placeholder="Length">

			<input type="text" th:field="*{max_atmosphering_speed}"
					class="form-control mb-4 col-4" placeholder="Max Atmosphering speed">
					
			<input type="text" th:field="*{crew}"
					class="form-control mb-4 col-4" placeholder="Crew">

			<input type="text" th:field="*{passengers}"
					class="form-control mb-4 col-4" placeholder="Passengers">
					
			<input type="text" th:field="*{cargo_capacity}"
					class="form-control mb-4 col-4" placeholder="Cargo Capacity">
					
			<input type="text" th:field="*{consumables}"
					class="form-control mb-4 col-4" placeholder="Consumables">
					
			<input type="text" th:field="*{hyperdrive_rating}"
					class="form-control mb-4 col-4" placeholder="Hyperdrive Rating">
					
			<input type="text" th:field="*{starship_class}"
					class="form-control mb-4 col-4" placeholder="Starship Class">
				
			<button type="submit" class="btn btn-primary col-2">Save Starship</button>
		</form>
	
		<hr>

		<div class="mt-3 mb-3 ml-5">
			<a th:href="@{/starwars/swstarships/list}" class="btn btn-info">Back to the starships List</a>
		</div>
		
	</div>
</body>
</html>










