<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Star Wars API</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- reference CSS file -->
	<link rel="stylesheet" th:href="@{/css/demo.css}" />

	<link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet">
	<style>
		body {
			font-family: 'Star Wars', sans-serif;
		}
	</style>
</head>

<body>

	<div class="mt-3 ml-5">
		<h2>Star Wars starships Menu</h2>
	</div>

	<hr>

	<div class="mt-4 ml-5">
			<a th:href="@{/starwars/swstarships/list}" class="btn btn-primary mb-4">Starships interactive List</a>
	</div>

	<form th:action="@{/starwars/starships/page/}" class="form-inline mb-4 ml-5">
		<input class="form-control mr-2 col-2" name="page" placeholder="Search by Page (1-4)"/>
		<button class="btn btn-success" type="submit">Search</button>
	</form>

	<form th:action="@{/starwars/starships/id/}" class="form-inline mb-4 ml-5">
		<input class="form-control mr-2 col-2" type="search" name="id" placeholder="Search by id (2-75)"/>
		<button class="btn btn-success" type="submit">Search</button>
	</form>

	<form th:action="@{/starwars/starships/search/}" class="form-inline mb-4 ml-5">
		<input class="form-control mr-2 col-2" type="search" name="name" placeholder="Search by Name"/>
		<button class="btn btn-success" type="submit">Search</button>
	</form>

	<div class="mb-4 ml-5">
		<a th:href="@{/starwars/starships}" class="btn btn-primary">All starships</a>
	</div>

	<hr>

	<div class="mt-4 ml-5">
		<a th:href="@{/starwars/menu}" class="btn btn-info btn-sm">Back to the Main Menu</a>
	</div>

	<img class="mt-4 ml-5" th:src="@{/images/100-vehicles-of-star-wars-thumb.png}"/>

</body>
</html>